@import url(https://fonts.googleapis.com/css?family=Cinzel:400,700,900);
@import url(https://fonts.googleapis.com/css?family=Kaushan+Script);
@import url(https://fonts.googleapis.com/css?family=Bangers);


h1 {
  font-family: "kaushan Script", sans-serif;
  font-size: 38px;
text-align: center;
border-bottom: 1px solid mediumspringgreen;
}

div {
  margin-left: 300px;
}

p {
  font-weight: 900;
  font-size: 20px;
  text-align: center;
}

h2 {
  color: mediumspringgreen;
  font-style: italic;
  font-weight: normal;
  text-align: center;
}
img {
  align-items: center;
}

body {
  font-family: "Cinzel", sans-serif;
  background-color: slategrey;
  font-weight: 400;
}

h4 {
  color: maroon;
  font-size: 28px;
  padding: 5px;
}

#jerksauce {
  background-color: white;
  color: #934FFF;
  width: 500px;
  border: 2px dashed green;
  float: left;
padding: 5px;
}

#tools {
  float: left;
background-color: #7FFFD4;
width: 503px;
padding: 5px;
margin-top: -10px;
font-size: 19px
}

#directions {
  font-family: "Bangers", sans-serif;
  color: lightpink;
  font-size: 24px;
  float: left;
  width: 500px;
  background-color: white;
  margin-bottom: -5px;
}

h3 {
  color: lightblue;
  font-size: 32px;
  text-align: center;
  margin-bottom: -20px;

}
